.admin{
  display: flex;
  background: #f9f9f9;

  .navleft{
    height: 100vh;
    min-width: 200px;
    overflow: auto;
    background: #001529;
  }

  .admin-content{
    height: 100vh;
    overflow: auto;
    flex-grow: 1;

    .content{
      min-height: calc(100vh - 110px);
      padding: 10px;
      box-sizing: border-box;
    }
  }
}


.common{
  background: #f9f9f9;

  .common-content{
    padding: 10px;
    box-sizing: border-box;
    min-height: calc(100vh - 60px);
  }
}